.banner{
    background: rgba(104, 106, 106, 0.488);
    padding-top: 40px;
    padding-bottom: 40px;
}
.card{
    height: 560px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    padding: 5px;
}
.t1{
    background: rgba(249, 88, 29, 0.878);
    width: 100%;
    height: 290px;
    border-bottom-right-radius: 66%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -12px;

}
.card>article>h1{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.877);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card>article>p{
    text-align: center;
    padding: 5px 70px;
    font-size: 20px;
    color: rgba(76, 78, 78, 0.977);

}
.t1>p{
    font-size: 110px;
    text-align: center;
    font-weight: bolder;
    font-family: fantasy;
    margin-top: 4%;
    padding-top: 90px;
    color: white;
}
button{
    background: rgba(249, 88, 29, 0.878);
    font-size: 20px;
    color: white;
    padding: 13px 38px;
    border-radius: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin-top: 0px;
    border: 2px solid rgba(202, 1, 35, 0.425);
    
}
button:hover{
    background-color: black;
    color: white;
}
.card>article>p:hover{
    color: white;
    background-color: crimson;
    
}
.card>article>h1:hover{
    color: orange;
    
    transform: scale(2,2)
}

.t1>p:hover{
    transform: scale(1.5,1.5);
}
