/* Mobile Screen Width : 0px to 768px */
/* Tab Screen Width : 769px to 1200px */
/* Desktop Screen Width : 1200px+ */

/* Mobile */

@media(max-width:768px){
    header{
        background-color: teal;
        padding: 20px;
    }
    header>nav>ul{
        float: none;
    }
    header>nav>ul>li{
        display: block;
    }
    header>nav{
        text-align: center;
    }
    .banner1{
        background-color: skyblue;
    }
    .banner2{
        background-image: url(../images/mobile.jpg);
    }
}

/* TAB */

@media(min-width:768px) and (max-width:1200px){
    header{
        background-color: skyblue;
        padding: 20px;
    }
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float: none;
    }
    .banner1{
        background-color: grey;
    }
    .banner2{
        background-image: url(../images/tab.jpg);
    }
}
